*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "San Francisco", Arial, sans-serif;
}

/* FONDO OSCURO */
body{
    background: #0d0d0d;
    color: #f5f5f7;
}

/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(20,20,20,0.8);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.logo{
    width: 40px;
    filter: invert(1); /* logo blanco */
}

.menu{
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu a{
    text-decoration: none;
    color: #f5f5f7;
    transition: 0.3s;
}

.menu a:hover{
    color: #2997ff;
}

/* HERO */
.hero{
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to bottom, #0d0d0d, #1a1a1a);
}

.hero h1{
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p{
    font-size: 20px;
    color: #aaa;
}

/* BOTONES */
.btn{
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    transition: 0.3s;
}

.blue{
    background: #2997ff;
    color: white;
}

.blue:hover{
    background: #147ce5;
}

.white{
    border: 2px solid #2997ff;
    color: #2997ff;
}

.white:hover{
    background: #2997ff;
    color: white;
}

/* PRODUCTOS */
.products{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;
}

.product{
    background: #1c1c1e;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.product img{
    width: 100%;
    border-radius: 15px;
}

.product:hover{
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}

.price{
    margin-top: 10px;
    color: #2997ff;
    font-weight: bold;
}

/* ABOUT */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    background: #1c1c1e;
    flex-wrap: wrap;
}

.about img{
    width: 250px;
    border-radius: 20px;
}

.about h2{
    margin-bottom: 15px;
}

/* FOOTER */
footer{
    text-align: center;
    padding: 20px;
    background: #000;
    color: #aaa;
}

/* RESPONSIVE */
@media (max-width: 768px){
    .products{
        flex-direction: column;
        align-items: center;
    }

    .about{
        flex-direction: column;
        text-align: center;
    }
}
.historia{
    margin-top: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #ccc;
    line-height: 1.6;
}

.historia h3{
    margin-bottom: 10px;
    color: #fff;
}
ol {
    margin-left: 0;
    padding-left: 20px;
}